:root{
  
  --global_color: #5dc1b9;
  --secondary_color: #98ceca;
  --analogo: #5DC2D9;

  --tiffany: #81d8d0;
  --tiffany_blue: #0abab5;

  --acquamarine: #9fd5d1;
  --complementare: #d84660;

  /* https://encycolorpedia.es/5dc1b9 */

  /* 5dc1b9 7cccc4 99d6d0 b3e0db cdebe7 e6f5f3 ffffff */
  /* 5dc1b9 4f9e97 407c77 325c58 243e3b 172221 000000 */

}