@charset "UTF-8";
@import url(colore.css);
@import url(normalize.css);

:root {
  --global_color: #5dc1b9;
  --secondary_color: #98ceca;
  --tiffany: #81d8d0;
  --acquamarine: #9fd5d1;
  --complementare: #d84660;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  /* border: 1px solid; */
}

html,
body {
  width: 100%;
  height: 100%;
}

header{
background-color: var(--global_color);
}

header>img{
display: block;
height: 220px;
margin: auto;
padding-bottom: 20px;
}

/* Navegation_Horizontal */
.contenedor_menu_horizontal{
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 1000;
  display: block;
  overflow: visible;
  width: 100%;
  background: rgba(0, 0, 0, 0.59);
  text-align: center;
}

/*elemento nav*/
.box-nav {
  display: block;
  margin: auto;
  min-width: 730px;
  max-width:1200px;
  width: 95%;
  font-size: 12px;
}

/*elemento ul*/
.lista-ul-nav {
  display: table;
  width: 100%;
}

/*elemento li*/
.item-li-nav {
  display: table-cell;
  padding: 0 2px;
  text-align: center;
  white-space: nowrap;
}
.item-li-nav a {
  display: block;
  padding: 15px;
  border-bottom: 2px solid #555555;
  background-color: #2a2a2a;
  color: #fff;
  text-decoration: none;
}
.item-li-nav a:hover {
  border-bottom: 2px solid #fff;
  background: #999;
  }
.item-li-nav:hover .sublista-nav {
  display: block;
  }

/*elemento ul2*/
.sublista-nav {
  position: absolute;
  z-index: 1003;
  display: none;
  overflow: hidden;
  min-width: 110px;
  max-width: 185px;
  width: 15.55%;
}

/*elemento li2*/
.subitem {
  display: block;
  overflow: hidden;
  margin: 3px 3px 0 0;
}
/* fine menu di navegazione */